.container {
  width: 100%;
  height: 100%;
  .svg {
    width: 100%;
    height: 100%;
    //overflow: hidden;
  }

  .content {
    width: 100%;
    height: 100%;
  }

  .slices{
    .pieBlock {
      text {
        fill: #fff;
        text-anchor: middle;
        pointer-events: none;
        font-size: 1em;
      }
    }

    .pieBlock:hover {
      opacity: 1;
      transform: scale(1.1);
      transition: all .3s linear;
    }
  }

  .lines {
    stroke-width: 2px;
    .polyline:hover, .hover {
      transition: all .3s linear;

    }
  }

  .d3_tip  {
    position: fixed !important;
    width: 50px;
    height: 50px;
    line-height: 1;
    z-index:9999;
    font-weight: bold;
    padding: 12px;
    background-color: red;
    color: #fff;
    border-radius: 2px;
  }
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }



}

